@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter Tight', sans-serif;
}

h2{
  font-size: 2.3rem;
}

section .row .col{
  margin-bottom: 30px;
}

.btn{
  background-color: white;
  padding: 10px 15px;
  border-radius: 30px;
}

.btn a{
  color: black;
  text-decoration: none;
}

/* utilities */

.debug{
  background-color: bisque;
  border: 1px solid firebrick;
}

.container{
  width: calc(100% - 60px);
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
}

.flex-wrapbet{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-betcen{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header */

header{
  height: 75px;
  background-color: #0084FD;
  color: white;
}

header nav{
  display: none;
}

header i{
  font-size: 25px;
}

/* Main */

/* height da togliere */

/* section.cards-presentation */
main .cards-presentation{
  padding-top: 50px;
  padding: 50px 0 55px;
}

main .col{
  width: 100%;
}

main .cards-presentation .col{
  margin-bottom: 25px;
}

main .card{
  height: 100%;
  background-color: #B5DDFF;
  border-radius: 35px;
}

.cards-presentation .card:not(.double .card){
  padding: 35px 30px;
  text-align: center;
}

.cards-presentation .card i:not(.double .card i){
  color: #0084FD;
  font-size: 5rem;
  padding-bottom: 30px;
}

main .card h3{
  font-size: 1.2rem;
  color: #0084FD;
  font-weight: bold;
}

main .card h3:not(.double .card h3){
  padding-bottom: 35px;
}

main .card p{
  color: #5A687F;
  font-size: .8rem;
  line-height: 25px;
  font-weight: 600;
}

main .col.double{
  height: 600px;
}

.col.double .card{
  padding: 35px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.double .card img{
  height: 270px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  
}

.col.double .card .card-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.col.double .card .card-text> *{
  margin-bottom: 30px;
}

.col.double .card .btn{
  padding: 10px 40px;
  background-color: #0084FD;
}

.col.double .card .btn a{
  color: white;
  font-weight: 700;
  font-size: .9rem;
}

.col.double .card .btn a i{
  padding-right:5px;
}



/* section.planning */
main section.planning{
  background-color: #9792E4;
  color: white;
  padding: 60px 0;
}

section.planning .content{
/*   height: 630px;
 */  margin-bottom: 35px;
}

section.planning .content img{
  margin-bottom: 90px;
}

section.planning .content h2{
  margin-bottom: 50px;
}

section.planning img{
  width: 100%;
  height: auto;
}

section.planning .col .card{
  padding: 30px 0;
}

section.planning .card img{
  margin-bottom: 30px;
  border: 1px solid black;
}

section.planning .card:not(img){
  text-align: center;
  padding: 0 25px;
}


section.planning .card h3{
  color: black;
  font-size: 1.4rem;
}

section.planning .card p{
  font-size: 1rem;
  color: black;
  font-weight: 400;
  font-style: italic;
/*   padding-bottom: 40px;
 */}

section.planning .card i{
  padding: 20px;
  background-color:#9792E4;
  border-radius: 50%;
  color: black;
}

section.planning .col{
/*   height: 610px;
 */}

section.planning .col .card{
  background-color: white;
}

/* section.testimonial */

section.testimonial{
  padding: 60px 0 80px;
}

section.testimonial .testimonial-text{
  height: 340px;
  margin-bottom: 50px;
}

section.testimonial .row .col{
  height: 500px;
  margin-bottom: 30px;
}

section.testimonial .row .col .avatar{
  background-color: #9792E4;
}

/* section.benefits */

main section.benefits{
  color: white;
  background-color: #9792E4;
  padding: 70px 0 30px;
}

section.benefits h2{
  text-align: center;
  padding-bottom: 70px;
}

section.benefits .row .col{
  height: 395px;
}

section.benefits .row .col .card{
  background-color: white;
  color: black;
}

/* section.about-us */

main section.about-us{
  padding: 90px 0 80px;
}

section.about-us .about-text{
  height: 960px;
  margin-bottom: 50px;
}

section.about-us .about-testimonial{
  height: 440px;
}

/* section.cta */

main section.cta{
  background-color:#9792E4;
  height: 615px;
  padding: 60px 0;
}

main section.cta .container{
  max-width: 560px;
}

/* footer */

footer{
  background-color: #333333;
  height: 235px;
  padding: 40px 0;
}

footer .container{
  max-width: 410px;
}


/* ---------------------------------------------- */
/* tablet 768px */

@media screen and (min-width: 768px) {
  /* section card-presentation */

  main section.cards-presentation{
    padding-bottom: 75px;      
  }

  main section.cards-presentation .col{
    width: calc((100% / 3) - 17px);
    height: 565px;
  }

  main section.cards-presentation .col.double{
    width: calc((((100% / 3) - 17px)*2) + 25px);
    height: 565px;
  }

  /* section planning */

  main section.planning{
    padding-top: 130px;     
  }

/*   main section.planning .col{
    height: 875px;
  }
 */
  section.planning .content{
    display: flex;
    flex-direction: column;
  }

  section.planning img{
    width: calc(100% - 60px);
    align-self: center;
  }

  section.planning .col .card img{
    width: 650px;
  }

  section.planning .card p{
    font-size: 14px;
    padding: 0 30px 40px;
  }

  /* section testimonial */

  main section.testimonial .row .col{
    height: 280px;
  }

  section.testimonial .testimonial-text{
    height: 210px;
  }

  /* section benefits */

  main section.benefits .row .col{
    width: calc((100% /2) - 15px);
    height: 415px;
  }

  /* section about-us*/

  main section.about-us{
    padding: 100px 0;
  }

  main section.about-us .container{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 100px);
  }

  section.about-us .about-text{
    width: calc(100% - 250px);
  }
  
  section.about-us .about-testimonial{ 
    width: 250px;
  }
  
}
/* ---------------------------------------------- */
/* desktop 992px*/

@media screen and (min-width: 992px) {

  /* header */
  header nav{
    display: block;
  }

  header nav ul{
    list-style: none;
    gap: 30px;
  }

  header nav ul li a{
    color: white;
    text-decoration: none;
  }

  header i.fa-bars{
    display: none;
  }

  /* section card-presentation */

  main section.cards-presentation .col, 
  main section.cards-presentation .col.double{
    height: 345px;
  }

  section.cards-presentation .col.double .card{
    padding: 35px 20px;
  }

  section.cards-presentation .col.double .card-text{
    width: 50%;
  }

  section.cards-presentation .col.double .card img{
    transform: translate(30%, 0);
  }
    

   /* section planning */

  main section.planning>.container{
    display: flex;
    max-width: 880px;
  }

  main section.planning>.container .content{
    width: 55%;
    height: 750px;
    margin-bottom: 0px;
  }

  main section.planning>.container .col{
    width: 45%;
/*     height: 555px;
 */    align-self: flex-end;
  }

  section.planning .col .card img{
    width: 100%;
  }

    /* section testimonial */

  section.testimonial .testimonial-text{
    height: 210px;
  }

  /* section benefits */

  main section.benefits .row .col{
    width: calc((100% /3) - 20px);
  }

    /* section about-us*/

  main section.about-us .container{
    max-width: 1050px;
  }
}