
/* General */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

.debug{
  background-color: bisque;
  border: 1px solid firebrick;
}

.container{
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;

  height: 100%;
}

/* Header */

header{
  height: 75px;
  background-color: #0084FD;
}

/* Main */

/* height da togliere */

/* section.cards-presentation */
main .cards-presentation{
  padding-top: 50px;
  padding: 50px 0 55px;
/*   height: 2000px;
 */}

main .col{
  width: 100%;
  height: 300px;
}

main .cards-presentation .col{
  margin-bottom: 25px;
}

main .col.double{
  height: 600px;
}

main .card{
  width: 100%;
  height: 100%;
  background-color: #B5DDFF;
  border-radius: 35px;
}

/* section.planning */
main section.planning{
  background-color: #9792E4;
  color: white;
/*   height: 1400px;
 */  padding: 60px 0;
}

section.planning .content{
  height: 630px;
  margin-bottom: 35px;
}

section.planning .col{
  height: 610px;
}

section.planning .col .card{
  background-color: white;
}

/* section.testimonial */

section.testimonial{
  padding: 60px 0 80px;
}

section.testimonial > .container{
  height: 100%;
}

section.testimonial .testimonial-text{
  height: 340px;
  margin-bottom: 50px;
}

section.testimonial .row .col{
  height: 500px;
  margin-bottom: 30px;
}

section.testimonial .row .col .avatar{
  background-color: #9792E4;
}

/* ---------------------------------------------- */
/* tablet 768px */

@media screen and (min-width: 768px) {

  main{
    padding: 50px 0 75px;
  }

    /* section card-presentation */

  main section.cards-presentation .col{
    width: calc((100% / 3) - 17px);
    height: 565px;
  }

  main section.cards-presentation .col.double{
    width: calc((((100% / 3) - 17px)*2) + 25px);
    height: 565px;
  }

  main section.cards-presentation .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* section testimonial */

  main section.testimonial .row .col{
    height: 280px;
  }

  section.testimonial .testimonial-text{
    height: 210px;
  }
}
/* ---------------------------------------------- */
/* desktop 992px*/

@media screen and (min-width: 992px) {

  /* section card-presentation */

  main section.cards-presentation .col, 
  main section.cards-presentation .col.double{
    height: 345px;
  }

   /* section planning */

  main section.planning>.container{
    display: flex;
    max-width: 880px;
  }

  main section.planning>.container .content{
    width: 55%;
    /* height: 100%;
   */
    height: 750px;
    margin-bottom: 0px;
  }

  main section.planning>.container .col{
    width: 45%;
    height: 555px;
    align-self: flex-end;
  }

    /* section testimonial */

  section.testimonial .testimonial-text{
    height: 210px;
  }

}