
/* General */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-size: 2.3rem;
}

section .row .col{
  margin-bottom: 30px;
}

/* utilities */

.debug{
  background-color: bisque;
  border: 1px solid firebrick;
}

.container{
  width: calc(100% - 60px);
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
}

.flex-wrapbet{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Header */

header{
  height: 75px;
  background-color: #0084FD;
}

/* Main */

/* height da togliere */

/* section.cards-presentation */
main .cards-presentation{
  padding-top: 50px;
  padding: 50px 0 55px;
}

main .col{
  width: 100%;
  height: 355px;
}

main .cards-presentation .col{
  margin-bottom: 25px;
}

main .col.double{
  height: 600px;
}

main .card{
  height: 100%;
  background-color: #B5DDFF;
  border-radius: 35px;
}

/* section.planning */
main section.planning{
  background-color: #9792E4;
  color: white;
  padding: 60px 0;
}

section.planning .content{
  height: 630px;
  margin-bottom: 35px;
}

section.planning .col{
  height: 610px;
}

section.planning .col .card{
  background-color: white;
}

/* section.testimonial */

section.testimonial{
  padding: 60px 0 80px;
}

section.testimonial .testimonial-text{
  height: 340px;
  margin-bottom: 50px;
}

section.testimonial .row .col{
  height: 500px;
  margin-bottom: 30px;
}

section.testimonial .row .col .avatar{
  background-color: #9792E4;
}

/* section.benefits */

main section.benefits{
  color: white;
  background-color: #9792E4;
  padding: 70px 0 30px;
}

section.benefits h2{
  text-align: center;
  padding-bottom: 70px;
}

section.benefits .row .col{
  height: 395px;
}

section.benefits .row .col .card{
  background-color: white;
  color: black;
}

/* section.about-us */

main section.about-us{
  padding: 90px 0 80px;
}

section.about-us .about-text{
  height: 960px;
  margin-bottom: 50px;
}

section.about-us .about-testimonial{
  height: 440px;
}

/* section.cta */

main section.cta{
  background-color:#9792E4;
  height: 615px;
  padding: 60px 0;
}

main section.cta .container{
  max-width: 560px;
}

/* footer */

footer{
  background-color: #333333;
  height: 235px;
  padding: 40px 0;
}

footer .container{
  max-width: 410px;
}


/* ---------------------------------------------- */
/* tablet 768px */

@media screen and (min-width: 768px) {
  /* section card-presentation */

  main section.cards-presentation{
    padding-bottom: 75px;      
  }

  main section.cards-presentation .col{
    width: calc((100% / 3) - 17px);
    height: 565px;
  }

  main section.cards-presentation .col.double{
    width: calc((((100% / 3) - 17px)*2) + 25px);
    height: 565px;
  }

  /* section planning */

  main section.planning{
    padding-top: 130px;     
  }

  main section.planning .col{
    height: 875px;
  }

  /* section testimonial */

  main section.testimonial .row .col{
    height: 280px;
  }

  section.testimonial .testimonial-text{
    height: 210px;
  }

  /* section benefits */

  main section.benefits .row .col{
    width: calc((100% /2) - 15px);
    height: 415px;
  }

  /* section about-us*/

  main section.about-us{
    padding: 100px 0;
  }

  main section.about-us .container{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 100px);
  }

  section.about-us .about-text{
    width: calc(100% - 250px);
  }
  
  section.about-us .about-testimonial{ 
    width: 250px;
  }
  
}
/* ---------------------------------------------- */
/* desktop 992px*/

@media screen and (min-width: 992px) {

  /* section card-presentation */

  main section.cards-presentation .col, 
  main section.cards-presentation .col.double{
    height: 345px;
  }

   /* section planning */

  main section.planning>.container{
    display: flex;
    max-width: 880px;
  }

  main section.planning>.container .content{
    width: 55%;
    height: 750px;
    margin-bottom: 0px;
  }

  main section.planning>.container .col{
    width: 45%;
    height: 555px;
    align-self: flex-end;
  }

    /* section testimonial */

  section.testimonial .testimonial-text{
    height: 210px;
  }

  /* section benefits */

  main section.benefits .row .col{
    width: calc((100% /3) - 20px);
  }

    /* section about-us*/

  main section.about-us .container{
    max-width: 1050px;
  }
}